<div mat-dialog-content>
    <mat-label class="title">
      <h2>Cadastrar Novo Produto</h2>
    </mat-label>     
        <form [formGroup]="form" class="p-3">
  
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>Nome do Produto</mat-label>
              <input matInput formControlName="nomeProd" required />
              <mat-icon matSuffix>storefront</mat-icon>
              <mat-error>O nome do produto é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Preço do Produto</mat-label>
                <input matInput formControlName="precoProd" required />
                <mat-icon matSuffix>attach_money</mat-icon>
                <mat-error>O preço do produto é obrigatório</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Descrição do Produto</mat-label>
                <input matInput formControlName="descricaoProd" required />
              </mat-form-field>
          </div>
        </form>

        <div mat-dialog-actions class="button">
          <button mat-button 
          mat-stroked-button 
          mat-dialog-close>
          Cancelar
          </button>

          <button mat-button  
              mat-raised-button 
              class="add-button"
              [mat-dialog-close]="true" 
              (click)="onSubmit()">
            Salvar
          </button>
        </div>
  </div>
