@import 'src/styles/variables.scss';
@import "~bootstrap/dist/css/bootstrap.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .hidden {
    display: none;
  }

  .notification-error {
    --mdc-snackbar-container-color: #bf2301;
    --mat-mdc-snack-bar-button-color: #fff;
  
    .mat-mdc-button {
      color: #fff!important;
    }
  }
  
  .notification-success {
    --mdc-snackbar-container-color: #44a344;
    --mat-mdc-snack-bar-button-color: #fff;
  
    .mat-mdc-button {
      color: #fff !important;
    }
  }

  .default-button{
    background-color: $green !important;
    color: $white-smoke !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
    color: $white-smoke !important;
  }

  .mat-mdc-tab .mdc-tab__text-label{
    color: $white-smoke !important;
  }

  .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button, .mat-mdc-unelevated-button, .mat-mdc-outlined-button{
    background-color: $green !important;
  }

  .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-outlined-button{
    color: $white-smoke !important;
  }