@import 'src/styles/variables.scss';
@import "~bootstrap/dist/css/bootstrap.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notification-error {
    --mdc-snackbar-container-color: #bf2301;
    --mat-mdc-snack-bar-button-color: #fff;
  
    .mat-mdc-button {
      color: #fff!important;
    }
  }
  
  .notification-success {
    --mdc-snackbar-container-color: #44a344;
    --mat-mdc-snack-bar-button-color: #fff;
  
    .mat-mdc-button {
      color: #fff !important;
    }
  }

  .default-button{
    background-color: $green !important;
    color: $white-smoke !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
    color: $white-smoke !important;
  }

  .mat-mdc-tab .mdc-tab__text-label{
    color: $white-smoke !important;
  }
