@import 'src/styles/variables.scss';
.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45px; /*Estou definindo a altura do meu footer*/
    color:  #f0f0f0;
    background: $default-grey;

    > small {
        font-size: 0.9rem;
        font-weight: 100;
    }
}
