.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45px; /*Estou definindo a altura do meu footer*/
    color:  #f0f0f0;
    background: #343541;
}
.text-footer{
    font-weight: 50px;
    font-size: 0.9rem;
}